body{
  background-color:rgb(215, 233, 211);
}
.cropImage{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 0px;
}
.contactThumbnail{
  height: 50px;
  width: 50px;
}
.contact-blocks{
  margin-top: 30px;
}